In [1]:
#dependencies 
import pandas as pd

In [2]:
#File to load
heroes="../Resources/purchase_data.csv"

In [3]:
#Read file
heroes_df=pd.read_csv(heroes)

In [4]:
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#display the number of player
players_df=heroes_df.groupby("SN")["SN"].unique()
players_df.count()

576

In [6]:
#Unique Items
items_df=heroes_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [7]:
#average price
average_price_df=heroes_df["Price"].mean()
round(average_price_df, 2)

3.05

In [8]:
#Number of purchases
total_of_purchases_df=len(heroes_df)
total_of_purchases_df

780

In [9]:
#Total of revenue 
total_of_revenue_df=heroes_df["Price"].sum()
total_of_revenue_df

2379.77

In [10]:
purchasing_analysis=({"Number of Unique Items":[items_df.count()], "Average Price":[round(average_price_df, 2)], "Number of Purchases":[total_of_purchases_df],"Total Revenue":[total_of_revenue_df]})

purchasing_analysis_df=pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [11]:
# Gender Demographics

gender_count_df = heroes_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
gender_percentage_df = gender_count_df/576

round(gender_percentage_df, 2)*100

Gender
Female                   14.0
Male                     84.0
Other / Non-Disclosed     2.0
Name: SN, dtype: float64

In [13]:
gender_demographics_df=pd.DataFrame({
    "Gender": ["Male", "Female", "Other"],
    "Total Count" :[484, 81, 11],
    "Percentage of Players": ["84%", "14%", "2%"]
})
gender_demographics_df.head()

   Gender  Total Count Percentage of Players
0    Male          484                   84%
1  Female           81                   14%
2   Other           11                    2%

In [14]:
#Purchasing Analysis (Gender)

gender_purchase_df=heroes_df.groupby("Gender")["Item Name"]
gender_purchase_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [15]:
gender_average_df=heroes_df.groupby("Gender")["Price"].mean()
round(gender_average_df, 2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [16]:
gender_purchase_value_df=heroes_df.groupby("Gender")["Price"].sum()
gender_purchase_value_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
gender_avg_per_person_df=gender_purchase_value_df/gender_count_df
round(gender_avg_per_person_df, 2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [18]:
purchasing_analysis_df=pd.DataFrame({"Gender":["Female","Male","Other"],
                                    "Purchase Count":[113, 652, 15],
                                    "Avg Purchase Price":["$3.20", "$3.02", "$3.35"],
                                     "Total Purchase Value":["$361.94", "1,967.64", "$50.19"],
                                     "Avg Purchase Per Person":["$4.47", "$4.07", "4.56"]
                                    
                                    })
purchasing_analysis_df.head()

,Gender,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"1,967.64",$4.07
2,Other,15,$3.35,$50.19,4.56

In [19]:
#Age Demographics
unique_players=heroes_df.loc[:, ["SN", "Age"]].groupby("SN").mean()
unique_players

               Age
SN
Adairialis76    16
Adastirin33     35
Aeda94          17
Aela59          21
Aelaria33       23
...            ...
Yathecal82      20
Yathedeu43      22
Yoishirrala98   17
Zhisrisu83      10
Zontibe81       21

[576 rows x 1 columns]

In [22]:
bins=[0,9,14,19,24,29,34,39,500]
ages=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df=pd.cut(unique_players["Age"], bins, labels=ages)

In [27]:
age_table_df=pd.DataFrame(age_df.value_counts())

age_table_df["Percentage of Players "]=(age_table_df["Age"]/players_df.count()).map("{:.2%}".format)

age_table_df.index.name="Age"
age_table_df.columns= ["Total Count", "Percentage of Players"]
age_table_df.reindex(ages)

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [86]:
#Purchasing Analysis

heroes_df_copy=heroes_df.copy()

bins=[0,9,14,19,24,29,34,39,500]
ages=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

heroes_df_copy["Age"]=pd.cut(heroes_df_copy["Age"], bins, labels=ages)

age_summary_df=heroes_df_copy.groupby("Age").count()

age_summary_df = age_summary_df.drop([age_summary_df.columns[a] for a in range(1, len(age_summary_df.columns))], axis=1)
age_summary_df.columns = ["Purchase Count"]

avg_purchase_price_df=heroes_df_copy.groupby("Age").mean()
avg_purchase_price_df=round(avg_purchase_price_df.loc[:, "Price"], 2).map("${:.2f}".format)

age_summary_df = age_summary_df.merge(avg_purchase_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Average Purchase Price"
age_summary_df.columns = update_cols

total_purchase_price_df=heroes_df_copy.groupby("Age").sum()
total_purchase_price_df=total_purchase_price_df.loc[:, "Price"]

age_summary_df = age_summary_df.merge(total_purchase_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Total Purchase Price"
age_summary_df.columns = update_cols

avg_total_price_df=heroes_df_copy.groupby("Age").sum()

avg_total_price_df = pd.DataFrame(avg_total_price_df.loc[:, "Price"]).merge(age_summary_df, on="Age")
avg_total_price_df["Avg Total Purchase Per Person"] = (total_purchase_price_df/age_df.value_counts()).map("${:.2f}".format)

avg_total_price_df = avg_total_price_df.loc[:, "Avg Total Purchase Per Person"]

age_summary_df = age_summary_df.merge(avg_total_price_df, on="Age")
update_cols = list(age_summary_df.columns)
update_cols[-1] = "Avg Total Purchase Per Person"
age_summary_df.columns = update_cols
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase Per Person
Age,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

In [110]:
#Top Spenders

top_spenders_df=pd.DataFrame(heroes_df.groupby("SN").count())

top_spenders_df = top_spenders_df.drop([top_spenders_df.columns[a] for a in range(1, len(top_spenders_df.columns))], axis=1)
top_spenders_df.columns = ["Purchase Count"]

avg_spent_df=pd.DataFrame(heroes_df.groupby("SN").mean())
avg_spent_df = avg_spent_df.loc[:, "Price"].map("${:.2f}".format)

top_spenders_df=top_spenders_df.merge(avg_spent_df, on="SN")
update_cols = list(top_spenders_df.columns)
update_cols[-1] = "Average Purchase Price"
top_spenders_df.columns = update_cols

total_spent_df=pd.DataFrame(heroes_df.groupby("SN").sum())
total_spent_df=total_spent_df.loc[:, "Price"]

top_spenders_df = top_spenders_df.merge(total_spent_df, on="SN")
update_cols = list(top_spenders_df.columns)
update_cols[-1] = "Total Purchase Price"
top_spenders_df.columns = update_cols

top_spenders_df = top_spenders_df.sort_values(by="Total Purchase Price", ascending=False)
top_spenders_df["Total Purchase Price"] = top_spenders_df["Total Purchase Price"].map("${:.2f}".format)
top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [122]:
#Most popular items

popular_items_df=heroes_df[["Item ID", "Item Name", "Price"]]

popular_items_df=popular_items_df.groupby(["Item ID", "Item Name"])

item_purchase_count_df=popular_items_df["Price"].count()

item_price_df=popular_items_df["Price"].sum()

item_purchase_value_df = item_price_df / item_purchase_count_df

most_popular_items = pd.DataFrame({
    "Purchase Count": item_purchase_count_df, 
    "Item Price": item_purchase_value_df,
    "Total Purchase Value": item_price_df})

popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items_formatted["Item Price"] = popular_items_formatted["Item Price"].astype(float).map("${:,.2f}".format)
popular_items_formatted["Total Purchase Value"] = popular_items_formatted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77