In [1]:
#dependencies 
import pandas as pd

In [4]:
#File to load
heroes="../Resources/purchase_data.csv"

In [5]:
#Read file
heroes_df=pd.read_csv(heroes)

In [12]:
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [24]:
#display the number of player
players_df=heroes_df.groupby("SN")["SN"].unique()
players_df.count()

576

In [8]:
#Unique Items
items_df=heroes_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [15]:
#average price
average_price_df=heroes_df["Price"].mean()
round(average_price_df, 2)

3.05

In [21]:
#Number of purchases
total_of_purchases_df=len(heroes_df)
total_of_purchases_df

780

In [23]:
#Total of revenue 
total_of_revenue_df=heroes_df["Price"].sum()
total_of_revenue_df

2379.77

In [32]:
purchasing_analysis=({"Number of Unique Items":[items_df.count()], "Average Price":[round(average_price_df, 2)], "Number of Purchases":[total_of_purchases_df],"Total Revenue":[total_of_revenue_df]})

purchasing_analysis_df=pd.DataFrame(purchasing_analysis)
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [59]:
# Percentage and Count of Male Players

gender_count_df = heroes_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [55]:
gender_percentage_df = gender_count_df/576

round(gender_percentage_df, 2)*100

Gender
Female                   14.0
Male                     84.0
Other / Non-Disclosed     2.0
Name: SN, dtype: float64

In [56]:
gender_demographics_df=pd.DataFrame({
    "Gender": ["Male", "Female", "Other"],
    "Total Count" :[484, 81, 11],
    "Percentage of Players": [84, 14,]
})

,Total Count,Percentage of Players
0,Gender Female 81 Male ...,Gender Female 0.14 Male ...